@model cis237_assignment6.Beverage

@{
    ViewBag.Title = "Details";
}

<h2 style="color: midnightblue; font-family: 'Baskerville Old Face';">Details</h2>

<div>
    <h4 style="color: midnightblue; font-family: 'Baskerville Old Face';">Beverage</h4>
    <hr />
    <dl class="dl-horizontal" style="color: midnightblue; font-family: 'Baskerville Old Face';">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pack)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pack)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.active)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
